.detail {
    padding: 100px 20px;
}

.detail > section {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center; 
    gap: 25px;
}

.detail > section > img{
    width: 45%;
    height: auto;
}

.detail > section > section{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.detail > section > section > section {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.detail > section > section > section > p {
    color: gray;
}

.orderLeft {
    order: 1;
}

.orderRight {
    order: 2;
}

.left, .right {
    position: relative;
}

.left::before{
    position: absolute;
    content: '';
    width: 25%;
    top: -2px;
    right: 0;
    border-top: 5px solid var(--color-primary);
}

.right::before{
    position: absolute;
    content: '';
    width: 25%;
    top: -2px;
    left: 0;
    border-top: 5px solid var(--color-primary);
}


@media (max-width: 768px) {

    .detail {
        padding: 80px 20px;
    }

    .detail > section {
        flex-wrap: wrap;
        gap: 50px;
    }

    .detail > section > img{
        width: 100%;
    }
    
    .detail > section > section{
        width: 100%;
    }

    .orderLeft, .orderRight {
        order: 1;
    }

    .left::before, .right::before{
        width: 40%;
    }
}

@media (max-width: 425px) {

    .detail {
        padding: 60px 20px;
    }

    .detail > section > section > section:first-of-type > h2{
        font-size: 32px;
    }

    .left::before, .right::before{
        width: 50%;
    }
}