/*======================================
ABOUT
======================================*/

.about{
    background-image: url('../../assets/Backgrounds/BgBrancoGelo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
}

.about > section {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center; 
}

.about > section > img {
    width: 45%;
    height: auto;
}

.about > section > section {
    width: 65%;
    margin-left: -5%;
    padding: 50px;
    background-color: var(--white);
    border-top: 2px solid var(--color-primary);
    box-shadow: 0px 10px 35px 5px rgb(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.about > section > section > section:nth-of-type(2){
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about > section > section > section:nth-of-type(3) > h3{
    color: var(--color-primary);
    margin-bottom: 15px;
}

.about > section > section > section:nth-of-type(3) > ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about > section > section > section:nth-of-type(3) > ul > li{
    list-style: none;
    position: relative;
    padding: 15px 0; 
}

.about > section > section > section:nth-of-type(3) > ul > li:last-of-type{
    padding-bottom: 0;
}

.about > section > section > section:nth-of-type(3) > ul > li:last-of-type::after{
    border: none;
}

.about > section > section > section:nth-of-type(3) > ul > li::after{
    content: '';
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid var(--color-primary);
}

.about > section > section > section:nth-of-type(3) > ul > li > a{
    font-size: 18px;
}

.about > section > section > section:nth-of-type(3) > ul > li > a:hover{
    cursor: pointer;
    color: var(--color-primary);
}


/*======================================
QUESTIONS
======================================*/

.questions{
    background-image: url('../../assets/Páginas/HOME/BannerPrincipal/Construcao1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 100px 20px;
    position: relative;
}

.questions::after{
    content: '';
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgb(3, 15, 39, 0.6), rgb(3, 15, 39, 0.9));
}

.questions > section {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 50px;
}

.questions > section > section:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

@media (max-width: 768px) {
    .about {
        padding: 80px 20px;
    }

    .about > section > section {
        padding: 30px 20px;
    }

    .questions{
        padding: 80px 20px;
    }
}

@media (max-width: 700px) {
    .about > section {
        flex-direction: column;
    }

    .about > section > img {
        width: 100%;
    }
    
    .about > section > section {
        width: auto;
        margin-left: 0;
    }
}

@media (max-width: 425px) {
    .about {
        padding: 60px 20px;
    }

    .about > section > section > section:nth-of-type(2) > p{
        font-size: 14px;
    }

    .questions{
        padding: 60px 20px;
    }
}
